@charset "UTF-8";

/*--Author: Krista Alexander
    Date: July 23 2021
    Assignment: Bootstrap B&B
    File Name: styles.css
*/

/* CSS Variables */

:root {
  --primary: #fff;
  --dark: #2d3936;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}




.selector-for-some-widget {
  box-sizing: content-box;
}
